[Unit]
Description=YAFP: Yet Another Feed Proxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/yafp -bind-address=":80"
ExecStop=/usr/bin/pkill yafp

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
